.container{
    max-width: 90%;
    margin: 1%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 2px solid rgb(25, 153, 192);
    border-radius: 5%;
    
}
.container1{
    max-width: 90%;
    margin: 1%;
    display: grid;
    grid-template-columns: repeat(3,4fr);
    border: 2px solid rgb(25, 153, 192);
    border-radius: 5%;
    background-color: white;
}
.p-datatable .p-rowgroup-header{
    border: 2px solid rgb(48, 187, 206);
    background-color: cornflowerblue !important;
    border-radius: 25%;
}

.p-datatable-header .headd{
    border: 2px solid rgb(48, 187, 206);
    background-color: cornflowerblue !important;
    border-radius: 25%;
}
.table2{
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: white;

}
.table1{
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: white;

}
tr{
    text-align: left;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

th{
    text-align: right;
    padding: 10px;
    margin: 10px;
    background-color: white;
}
td{
    padding: 15px;
    margin: 10px;
    background-color: white;
}
.underline--dotted {
    border-bottom: 1px rgb(180, 164, 164) dashed;
    width:max-content;
  }
  h5{
      text-align: center;
  }